.App{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

header{
  background:#ffecfa;
  padding: 10px;
  margin: 0 -100px;
  box-shadow:#fff6fc 0px 0px 10px;
  border-radius: 0 0 15px 15px;
}

.title{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}



.headButton{
  background-color: #ffecfa;
  border: 0;
  border-radius: 10px 10px;
  padding: 5px 25px;
  transition: all ease-in-out 200ms;
}

.headButton:hover{
  background-color: #e7d0e1;
  box-shadow: #787ba1 0px 0px 10px;
}